<!doctype html>

<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Smart Investment - Stock list</title>
    <meta name="description" content="Smart Investment - Omnipotent">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="icon" href="static/images/favicon.png" sizes="32x32">
    <link rel="icon" href="static/images/favicon-300x300.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="static/images/favicon-300x300.png">

    <!-- Import Template Icons CSS Files -->

    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/simple-line-icons.css">

    <!-- Import Bootstrap CSS File -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <!-- Import External CSS Files -->

    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/timeTo.css">
    
    <!-- Import Template's CSS Files -->

    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">


</head>


<body>


    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <nav class="navbar navbar-expand-md">
                        <a class="navbar-brand" href="/"><img src="static/images/logo.png" alt="Logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="main-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item menu-item-has-children dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>

                                </li>

                                <li class="nav-item menu-item-has-children dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>

                                </li>

                                <li class="nav-item menu-item-has-children dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insights</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="instructors.html">All Instructors</a>
                                    <a class="dropdown-item" href="instructor-single.html">Instructor Single</a>
                                </div>
                                </li>

                                <li class="nav-item menu-item-has-children dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                                <div class="dropdown-menu">
                                </div>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div><!-- /.container -->
    </header><!-- /.masthead -->



    <section class="page-name background-bg" data-image-src="static/images/breadcrumb.jpg">
        <div class="overlay">
            <div class="section-padding">
                <div class="container">
                    <h2 class="section-title">Stock List</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        </ol>
                    </nav>
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.overlay -->
    </section><!-- /.page-name -->

</br>
    </br>


    <div class="container">
        <div class="top-content">
            <div class="left-content float-left">
                <h2 class="section-title">You are risk neutral</h2>
                    </div><!-- /.left-content -->
                    <div class="owl-controls float-right"></div><!-- /.owl-controls -->
                </div>
            </div>

<div class="landing-section features">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" align="center">
                <ul class=" nav nav-tabs ">
                    <li><a class="active" href="#Beverage" data-toggle="tab">Beverage</a></li>
                    <li><a href="#Computer_APP" data-toggle="tab">Computer</a></li>
                    <li><a href="#Diversified_Finance" data-toggle="tab">Diversified Finance</a></li>
                    <li><a href="#Gold" data-toggle="tab">Gold</a></li>
                    <li><a href="#Logistics" data-toggle="tab">Logistics</a></li>

                    <li><a href="#Public_Transportation" data-toggle="tab">Public Transportation</a></li>
                    <li><a href="#Real_Estate" data-toggle="tab">Real Estate</a></li>
                    <li><a href="#Securities" data-toggle="tab">Security</a></li>
                    <li><a href="#Semiconductor" data-toggle="tab">Semiconductor</a></li>
                </ul>


                <ul class="nav nav-tabs filter">
                    <li><a class="active" href="#Beverage" data-filter="*">Beverage</a></li>
                    <li><a href="#Computer_APP" data-filter=".tab">Computer Application</a></li>
                    <li><a href="#Diversified_Finance" data-filter=".tab">Diversified Finance</a></li>
                    <li><a href="#Gold" data-toggle="tab">Public Transportation</a></li>
                    <li><a href="#Logistics" data-toggle="tab">Logistics</a></li>
                    <li><a href="#Public_Transportation" data-toggle="tab">Real Estate</a></li>
                    <li><a href="#Real_Estate" data-toggle="tab">Security</a></li>
                    <li><a href="#Securities" data-toggle="tab">Semiconductor</a></li>
                </ul>
    </br>
    </br>



                <div class="tab-content">
                    <br>
                    <div class="active tab-pane" id="Beverage">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for beverage in Beverages %}
                            <tr>
                                <td>
                                    <form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ beverage.Stock_ID }}'>
                                    </form>
                                </td>
                                <td>{{ beverage.Name}}</td>
                                <td>{{ beverage.Area}}</td>
                                <td>{{ beverage.Industry}}</td>
                                <td>{{ beverage.PE_ratio}}</td>
                                <td>{{ beverage.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Computer_APP">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for app in Computer_APP %}
                            <tr>
                                <td>
                                    <form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ app.Stock_ID }}'>
                                    </form>
                                </td>
                                <td>{{ app.Name}}</td>
                                <td>{{ app.Area}}</td>
                                <td>{{ app.Industry}}</td>
                                <td>{{ app.PE_ratio}}</td>
                                <td>{{ app.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Diversified_Finance">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for DF in Diversified_Finance %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ DF.Stock_ID }}'>
                                    </form></td>
                                <td>{{ DF.Name}}</td>
                                <td>{{ DF.Area}}</td>
                                <td>{{ DF.Industry}}</td>
                                <td>{{ DF.PE_ratio}}</td>
                                <td>{{ DF.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Gold">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for g in Gold %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ g.Stock_ID }}'>
                                    </form></td>
                                <td>{{ g.Name}}</td>
                                <td>{{ g.Area}}</td>
                                <td>{{ g.Industry}}</td>
                                <td>{{ g.PE_ratio}}</td>
                                <td>{{ g.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Logistics">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for l in Logistics %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ l.Stock_ID }}'>
                                    </form></td>
                                <td>{{ l.Name}}</td>
                                <td>{{ l.Area}}</td>
                                <td>{{ l.Industry}}</td>
                                <td>{{ l.PE_ratio}}</td>
                                <td>{{ l.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Media_Marketing">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for MM in Media_Marketing %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ MM.Stock_ID }}'>
                                    </form></td>
                                <td>{{ MM.Name}}</td>
                                <td>{{ MM.Area}}</td>
                                <td>{{ MM.Industry}}</td>
                                <td>{{ MM.PE_ratio}}</td>
                                <td>{{ MM.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Public_Transportation">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for PT in Public_Transportation %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ PT.Stock_ID }}'>
                                    </form></td>
                                <td>{{ PT.Name}}</td>
                                <td>{{ PT.Area}}</td>
                                <td>{{ PT.Industry}}</td>
                                <td>{{ PT.PE_ratio}}</td>
                                <td>{{ PT.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Real_Estate">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for RE in Real_Estate %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ RE.Stock_ID }}'>
                                    </form></td>
                                <td>{{ RE.Name}}</td>
                                <td>{{ RE.Area}}</td>
                                <td>{{ RE.Industry}}</td>
                                <td>{{ RE.PE_ratio}}</td>
                                <td>{{ RE.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Securities">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for s in Securities %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ s.Stock_ID }}'>
                                    </form></td>
                                <td>{{ s.Name}}</td>
                                <td>{{ s.Area}}</td>
                                <td>{{ s.Industry}}</td>
                                <td>{{ s.PE_ratio}}</td>
                                <td>{{ s.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="Semiconductor">
                        <table class="table table-striped" align="center" cellpadding="10">
                            <thead>
                            <tr>
                                <th style="text-align: center;">Stock ID</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Area</th>
                                <th style="text-align: center;">Industry</th>
                                <th style="text-align: center;">PE ratio(%)</th>
                                <th style="text-align: center;">General Capital</th>

                            </tr>
                            </thead>

                            <tbody align="center">
                            {% for semi in Semiconductor %}
                            <tr>
                                <td><form method="post">
                                        <input type="submit" name="stock" class="btn btn-link"
                                               value='{{ semi.Stock_ID }}'>
                                    </form></td>
                                <td>{{ semi.Name}}</td>
                                <td>{{ semi.Area}}</td>
                                <td>{{ semi.Industry}}</td>
                                <td>{{ semi.PE_ratio}}</td>
                                <td>{{ semi.General_Capital}}</td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




        <footer class="site-footer">
        <div class="footer-top light-black">
            <div class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget_about_us">
                                <!--  <h4>Courseware</h4> -->
                                <img class="footer-logo" src="static/images/logo_.png" alt="Site Logo">
                                <div class="widget-details">
                                    <div class="widget-social text-center">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                    </div><!-- /.widget-social -->
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4>Quick Links</h4>
                                <div class="widget-details">
                                    <ul class="menu">
                                        <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i> Yahoo Finance</a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i> Bloomberg</a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i> Nasdaq</a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i> Google Finance</a></li>
                                        <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i> SeekingAlpha</a></li>
                                    </ul>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </div>


                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget_nav_menu">
                                <h4>Support</h4>
                                <div class="widget-details">
                                    <ul class="menu">
                                        <li class="menu-item"></i> Su Shen</a></li>
                                        <li class="menu-item"></i> Yijun Wang</a></li>
                                        <li class="menu-item"></i> Shen Jiang</a></li>
                                        <li class="menu-item"></i> Dongzhen Shi</a></li>
                                        <li class="menu-item"></i> Hongyu Chen</a></li>
                                    </ul>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.section-padding -->
        </div><!-- /.footer-top -->


    </footer><!-- /.site-footer -->





    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyD2jlT6C_to6X1mMvR9yRWeRvpIgTXgddM"></script>


</body>
</html>
